.gitignore

notebooks/
.idea/
dataset/
ctc_best/*
!ctc_best/best_model
!ctc_best/best_preproc

# Mac DS_Store
*.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

